@import url(../../vars.css);

.boutique-container {
    padding: 40px;
    color: var(--white);
    min-height: 100vh;
    text-align: center;
  }
  .canvas {
    width: 100%;
    height: 300px;
    display: block;
  }

  .boutique-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: var(--rouge);
    animation: fadeIn 1s ease;
  }

  .tags-container {
    display: flex;
    width: 100%;
  }

  .tags-container .tag {
    background-color: var(--red);
    color: var(--white);
    padding: 5px 10px;
    font-style: italic;
    cursor:default;
    border-radius: 5px;
    border: 1px solid var(--rouge);
    margin-right: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease; 
  }

  .user-money {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--bleu-bg);
    color: var(--white);
    padding: 10px 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-weight: bold;
  }

  .user-money p {
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  .user-money img.money-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }  

  .tags-container .isEquiped {
    border: 1px solid var(--cyan);
  }

  .models-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    padding: 20px;
  }

  .model-card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bleu-bg);
    border: 2px solid var(--cyan);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .filter-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  .filter-button {
    background-color: var(--bleu);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .filter-button.active {
    background-color: var(--rouge);
    transform: scale(1.1);
  }

  .filter-button:hover {
    background-color: var(--red-focus);
  }

  .filter-button:focus {
    outline: none;
  }



  .model-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.6);
  }

  .canvas {
    width: 100%;
    height: 300px;
  }

  .buy-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
    background-color: var(--rouge);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

    .buy-button:focus {
        outline: none;
    }

  .buy-button:hover {
    background-color: var(--red-focus);
    transform: scale(1.1);
  }
.monnaie-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: auto;
  }

  .monnaie-boutique {
    width: 20px;
  }

  /* Animation globale */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
