/* General container */
.message-container {
    display: flex;
    height: 100vh;
    color: var(--white);
  }

  .contacts-panel {
    width: 250px;
    background: var(--bleu-bg);
    border-right: 1px solid var(--rouge);
  }

  .contacts-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .contact-item {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    transition: background 0.3s ease;
    border-bottom: 1px solid var(--background-black);
  }

  .contact-item:hover {
    background: var(--bleu-bg);
  }

  .contact-item.active {
    background: var(--rouge);
  }

  .contact-profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }

  .contact-name {
    font-size: 1rem;
    font-weight: bold;
  }

  /* Chat section */
  .chat-section {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  /* Header */
  .message-header {
    padding: 15px;
    background: var(--bleu-bg);
    color: var(--white);
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid var(--rouge);
  }

  /* Message body */
  .message-body {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--background);
  }

  /* Message bubbles */
  .message-bubble {
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 1rem;
    word-wrap: break-word;
    align-self: flex-start;
  }

  .message-bubble.sent {
    background: var(--rouge);
    color: var(--white);
    align-self: flex-end;
    border-bottom-right-radius: 0;
  }

  .message-bubble.received {
    background: var(--bleu);
    color: var(--white);
    align-self: flex-start;
    border-bottom-left-radius: 0;
  }

  /* Input container */
  .message-input-container {
    display: flex;
    padding: 15px;
    border-top: 1px solid var(--rouge);
    background: var(--bleu-bg);
  }

  .message-input {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid var(--bleu);
    background: var(--background);
    color: var(--white);
    outline: none;
  }

  .message-input::placeholder {
    color: var(--white);
  }

  .send-button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    background: var(--rouge);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  .send-button:hover {
    background: var(--red-focus);
  }

  .message-read-icon {
    font-size: 1rem;
    color: var(--bleu);
    margin-left: 5px;
    vertical-align: middle;
  }

  .custom-context-menu button {
    outline: none;
  }
