:root {
    --rouge: #e94560;
    --cyan: #00ffff;
    --rouge-fonce: #74202c;
    --bleu: #16213e;
    --bleu-bg: #121522;
    --background: #1a1a1a;
    --background-black: #0d0d0d;
    --red-focus: #ff5c7a;
    --white: #fff;
}
