@import url('../../vars.css');

.login-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    var(--background-black) 0%,
    var(--bleu) 100%
  );
}

.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 2rem;
}

.login-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 3rem;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  max-width: 500px;
  width: 100%;
}

.login-card h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: var(--cyan);
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

.login-card p {
  font-size: 1rem;
  color: var(--white);
  margin-bottom: 2rem;
  text-align: center;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  display: block;
  color: var(--rouge);
}

.form-group input {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid var(--rouge);
  background-color: transparent;
  color: var(--white);
  transition: all 0.3s ease;
}

.form-group input:focus {
  outline: none;
  border-color: var(--cyan);
  box-shadow: 0 4px 6px rgba(0, 255, 255, 0.1);
}

.btn-login {
  width: 100%;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--white);
  background-color: var(--rouge);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1.5rem;
}

.btn-login:hover {
  background-color: var(--red-focus);
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(233, 69, 96, 0.3);
}

.login-footer {
  margin-top: 2rem;
  text-align: center;
}

.login-footer p {
  font-size: 1rem;
  color: var(--white);
}

.login-footer a {
  color: var(--rouge);
  text-decoration: none;
  transition: all 0.3s ease;
}

.login-footer a:hover {
  color: var(--cyan);
  text-decoration: underline;
}

.error-message {
  color: var(--rouge);
  font-size: 0.9rem;
  margin-top: 0.5rem;
  text-align: left;
}

/* Styles pour le HeaderLogin */
.header-login {
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-login img {
  max-height: 50px;
  width: auto;
}
